extends layout.pug

block body_content
    div.row
        div.col-xs-10.col-sm-10.col-md-11
            h2.headingIntro= `Hi ${ViewBag.User.firstname} ${ViewBag.User.lastname}!`
        div.col-xs-2.col-sm-2.col-md-1.text-right
            div.btn.btn-primary(data-action="toggle_blog_form" title="Toggle blog form")
                i.fa.fa-plus
    div.row        
        div.col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0#blog_form(style="display:none;")
            br
            include Blog/_blogForm
    hr
    include Products/_productModal
    div.row
        div.col-xs-12
            h3="News Feed"
    include shared/blogs/_blogs
        

