doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= ViewBag.title
    link(href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet')
    if ViewBag.style
        link(rel='stylesheet' type='text/css' href='/public/css/bundle.css')
body
    include shared/_navbarMyBlogs.pug
    div.container
        block body_content
    script(src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=p31qyapragklrwmecflc3bdpqeg0he8zm83j9qc4dm4tdiym")
    script(src="/socket.io/socket.io.js")
    script(src='/public/bundle.js')