doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= "Login"
    link(rel='stylesheet' type='text/css' href='/public/css/bundle.css')
body
    br
    div.container
        div.row
            div.col-xs-12.col-sm-4.col-sm-offset-4
                form
                    div.form-group
                        label(for="email") Email
                        input.form-control(type="email" placeholder="jsmith01@domain.com" name="email" data-users="email")     
                    div.form-group
                        label(for="password") Password
                        input.form-control(type="password" placeholder="Enter Password" name="password" data-users="password")                                                                
                    div.form-group
                        button.btn.btn-primary(type="submit" data-users="login") Log In!
        div.row
            div.col-xs-12.col-sm-4.col-sm-offset-4
                hr
        div.row
            div.col-xs-12.col-sm-4.col-sm-offset-4
                div.col-xs-6.col-sm-6
                    a(href="/Users/signup")
                        button.btn.btn-default Sign Up!
                div.col-xs-6.col-sm-6
                    a(href="#")
                        button.btn.btn-danger Forgot Password?        
    script(src='/public/bundle.js')

        
    